<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-------------Link to Fontaweasome----------------->
    <link rel="stylesheet" href="./CSS/style.css" />
    <!-------------Link to Bootsrap----------------->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <!-------------Link to Fontaweasome----------------->
    <script
      src="https://kit.fontawesome.com/3ba97fdaf3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-------------Navbar Section----------------->
    <nav class="navbar navbar-expand-lg position-fixed top-0 w-100">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img src="./images/demo-logo.png" alt="" class="w-50"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
          <ul class="navbar-nav ms-auto">
            <!-- <li class="nav-item">
            <li class="nav-item"><form action="/" method="post"class="d-flex"> 
            <input type="text" name="search" id=""placeholder="search" class="form-control me-2">  
            <button type="submit"class="btn btn-outline-success">search</button> 
          </form></li> -->
          <li>
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">GAMES</a>
            </li>

            <li class="nav-item">
              <a class="nav-link">PRICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">ABOUT US</a>
            </li>
             <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/Register">Register</a></li>
            <li><a class="dropdown-item" href="/login">login</a></li>
            
          </ul>
        </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-------------hero Section----------------->
    <section id="hero">
      <div class="container pt-2 pd-4">
        <div class="row">
          <div class="col col-md-6 text-start first-col align-middle">
            <h1 class="title">Coding Addict</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
              incidunt cupiditate id, animi atque error.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
              incidunt cupiditate id, animi atque error.
            </p>

            <a href="" class="nav-link"
              ><img src="./images/play.png" alt="" class="play" /> Watch
              Tutorials
            </a>
          </div>
          <div class="col-md-6 mr-auto">
            <img src="./images/home2.png" alt="" class="w-75" />
          </div>
        </div>
      </div>
      <img src="./images/wave1.png" alt="" class="w-100" />
    </section>
    <!-------------pricing Section----------------->
    <section id="pricing ">
      <div class="container">
        <h1 class="title text-center">About Us</h1>
        <div class="row text-center">
          <div class="col-md-4">
            <img src="/images/service1.png" alt="" class="w-25 mt-5" />
            <h4>Forex Marketing</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
              alias quidem reiciendis.
            </p>
          </div>
          <div class="col-md-4">
            <img src="/images/service2.png" alt="" class="w-25 mt-5" />
            <h4>Forex Marketing</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
              alias quidem reiciendis.
            </p>
          </div>
          <div class="col-md-4">
            <img src="/images/service3.png" alt="" class="w-25 mt-5" />
            <h4>Forex Marketing</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
              alias quidem reiciendis.
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="service-btn">All Services</button>
        </div>
      </div>
    </section>

    <!-------------About Us Section----------------->
    <section id="about-us" class="bg-light">
      <div class="container">
        <h1 class="title text-center">About Us</h1>
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
              <li class="abt-us-li">Lorem ipsum dolor sit amet consectetur.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <img src="./images/network.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <section id="testimonies" class="pt-5">
      <div class="container">
        <h1 class="title text-center pb-4">What Client Say</h1>
        <div class="row offset-1"> 
          <div class="col-md-5 testimonies mb-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab itaque
              molestias inventore? Earum, optio culpa!
            </p>
            <img src="./images/user1.jpg" alt="" class="user-img w-25" />
            <div class="description">
              <h4 class="username">Angelina Jone</h4>
              <p>Co-founder at xyz</p>
            </div>
          </div>
          <div class="col-md-5 testimonies mb-4"> <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab itaque
              molestias inventore? Earum, optio culpa!
            </p>
            <img src="./images/user2.jpg" alt="" class="user-img w-25" />
            <div class="description">
              <h4 class="username">Angelina Jone</h4>
              <p>Co-founder at xyz</p></div>
        </div>
      </div>
      </section> 

      <section id="social-media mt-4" class="bg-light pt-5">
        <div class="container text-center">
          <a href=""><img src="./images/facebook-icon.png" alt=""class="social-icons"></a>
          <a href=""><img src="./images/instagram-icon.png" alt=""class="social-icons"></a>
          <a href=""><img src="./images/linkedin-icon.png" alt=""class="social-icons"></a>
          <a href=""><img src="./images/snapchat-icon.png" alt=""class="social-icons"></a>
          <a href=""><img src="./images/whatsapp-icon.png" alt=""class="social-icons"></a>
          <a href=""><img src="./images/twitter-icon.png" alt=""class="social-icons"></a> 
        </div>
      </section>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

 